html
{
    background-color: #001822;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;

    transition: 0.5s cubic-bezier(.7,-0.13,.52,1.41);

    background: #002e39;
    background: linear-gradient(90deg, rgb(0, 58, 71) 0%, rgb(11, 17, 58) 100%);

    overflow: hidden;
}

body
{
    margin: 0;
}

#quizBody
{
    filter: blur(0px);
    transition: 0.5s cubic-bezier(.7,-0.13,.52,1.41);
}

#quizBody.blured
{
    filter: blur(10px) brightness(50%);
}

#bgGradient
{
    transition: 0.5s cubic-bezier(.7,-0.13,.52,1.41);
    position: absolute;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    transform: translate(-10px, -10px);
}

#scores
{
    position: absolute;
}

.box
{
    border-radius: 25px;
    text-align: center;
    transition: 0.5s cubic-bezier(.7,-0.13,.52,1.41);
}

.score
{
    width: 	10vh;
    height: 7vh;
    background-color: chartreuse;
    margin: 10px;
    float: left;

    transition: 0.5s cubic-bezier(.7,-0.13,.52,1.41);
    transform: rotateX(0deg);

    box-shadow: 5px 5px 38px 3px #00000065;

    z-index: 1;
}

#scoreTeam1
{
    background-color: #00add8;
}

#scoreTeam2
{
    background-color: #2825cf;
}

#scoreTeam1.true
{
    background-color: #005c05;
}
#scoreTeam2.false
{
    background-color: #5c000c;
}

#scoreTeam1.true #pointsTeam1
{
    opacity: 0;
}
#scoreTeam2.false #pointsTeam2
{
    opacity: 0;
}

#scoreTeam1.true:hover
{
    background-color: #00e40b;
}
#scoreTeam2.false:hover
{
    background-color: #e0001e;
}

.points
{
    padding: 0;
    margin: 0;

    font-size: 6vh;
    width: 100%;
    height: fit-content;
    transform: translateY(1px);
    font-weight: 700;
}

#questions
{
    transform: translateY(180%);
    height: 20vh;
    z-index: 0;
}

.questionRow
{
    position: absolute;
    width: 100%;
    height: 150%;
    text-align: center;
    transition: 0.5s cubic-bezier(.7,-0.13,.52,1.41);
}

.questionRow.prevPrev
{
    transform: translateY(-325px) rotateX(90deg);
    opacity: 0;
}

.questionRow.prev
{
    transform: translateY(-250px) rotateX(55deg);
    opacity: 0.45;
}

.questionRow.now
{
    transform: translateY(0px) rotateX(0deg);
    opacity: 1;
}

.questionRow.next
{
    transform: translateY(250px) rotateX(-55deg);
    opacity: 0.45;
}

.questionRow.nextNext
{
    transform: translateY(325px) rotateX(-90deg);
    opacity: 0;
}

.questionRow.storage
{
    transform: translateY(325px) rotateX(-90deg);
    opacity: 0;
}

.question
{
    width: 27%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    vertical-align: middle;
    line-height: 45px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    line-break: auto;
    font-size: 40px;
    float: left;
    overflow-y: auto;
    margin: 1.5%;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 5px 5px 38px 3px rgba(0, 0, 0, 0.397);

    cursor: pointer;

    transition: 0.5s cubic-bezier(.7,-0.13,.52,1.41);
}

.question.visible
{
    transform: rotateX(360deg);
}

.team1 .box
{
    background-color: #00add8;
}

.team2 .box
{
    background-color: #2825cf;
}

#scoreboard
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    transform: translateY(-20vh);
    text-align: center;
    visibility: hidden;
    opacity: 0;

    transition: 0.5s cubic-bezier(.7,-0.13,.52,1.41);
}

#scoreboard.visible
{
    visibility: visible;
    opacity: 1;
}

#canvas
{
    width: 100vh;
    height: 100vh;
    background-color: transparent;
    filter:  blur(2.5px) brightness(500%);
}

#scoreWinner
{
    transition: 0.5s cubic-bezier(.7,-0.13,.52,1.41);

    position: absolute;

    transform: translateY(200vh);

    width: 100vw;
    text-align: center;

    font-weight: 700;
    font-size: 10vw;
}

#scoreWinnerPoints
{
    transition: 0.5s cubic-bezier(.7,-0.13,.52,1.41);

    position: absolute;

    transform: translateY(200vh);

    width: 100vw;
    text-align: center;

    font-weight: 600;
    font-size: 7vw;
}

#scoreWinner.visible
{
    transform: translateY(30vh);
}

#scoreWinnerPoints.visible
{
    transform: translateY(50vh);
}

#scoreWinner.team1
{
    color: #00add8;
}

#scoreWinner.team2
{
    color: #2825cf;
}

#scoreWinnerPoints.team1
{
    color: #0081a1;
}

#scoreWinnerPoints.team2
{
    color: #1e1c97;
}
